/*-- scss:defaults --*/

// Fonts
$font-family-sans-serif: "Fira Sans";
$font-family-monospace: "Fira Mono";

// Document colours
$primary: #006b75;
$body-bg: #000000;
$body-color: #ffffff;
$link-color: #fef200;
$navbar-bg: #006b75;
$navbar-fg: #fef200;